@model MiFragancia.Models.UsuarioModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contrasenna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contrasenna)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
